.App {
	/* width: 100vw;
	height: 100vw; */
}

body {
	margin: 0;
	padding: 0;
	background-color: #5d7e83;
}

button:hover {
	cursor: pointer;
}

/* Home Page CSS */

.homeContainer {
	width: 100%;
	overflow-y: hidden;

	height: 100%;
}

.homeContainer .homeHeader {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #5d7e83;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.homeContainer .homeMain {
	background-color: #5d7e83;
	margin-bottom: 0px;
}

.homeContainer .homeMain .homePics {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	position: relative;
}

.homeContainer .homeMain .homePics a {
	position: relative;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	opacity: 0;
	animation: imageSlide;
	animation-duration: 1.8s;
	animation-delay: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.homeContainer .homeMain .homePics .imageDesc {
	text-align: center;
	color: #fff;
	margin-top: 0px;
	margin-bottom: 10px;
	text-decoration: none;
}

@keyframes imageSlide {
	30% {
		opacity: 20%;
	}
	50% {
		opacity: 50%;
	}
	70% {
		opacity: 70%;
	}
	100% {
		opacity: 100%;
	}
}

.homeContainer .homeMain .homePics .homeImg {
	margin-left: 30px;
	margin-top: 15px;
}

.homeContainer .homeMain .homePics img {
	width: 400px;
	height: 300px;
	border-radius: 10px;
}

.homeContainer .homeMain .homePics .homeImg:hover {
	box-shadow: 2px 10px 8px 3px #555353;
}

.homeContainer .descOfPages {
	height: 100%;
	margin-top: 0px;
	background-color: #5eacdf;
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
}

@keyframes divEase {
	10% {
		opacity: 15%;
	}
	30% {
		opacity: 20%;
	}
	40% {
		opacity: 30%;
	}
	50% {
		opacity: 50%;
	}
	70% {
		opacity: 70%;
	}
	80% {
		opacity: 80%;
	}
	100% {
		opacity: 100%;
	}
}

.homeContainer .descOfPages .payCalcDesc {
	opacity: 0;
	animation: divEase;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

.homeContainer .descOfPages .searchDesc {
	opacity: 0;
	animation: divEase;
	animation-duration: 1s;
	animation-delay: 2.4s;
	animation-fill-mode: forwards;
}

.homeContainer .descOfPages .aboutUsDesc {
	opacity: 0;
	animation: divEase;
	animation-duration: 1s;
	animation-delay: 2.8s;
	animation-fill-mode: forwards;
}

.homeContainer .descOfPages section {
	margin-top: 60px;
}

.homeContainer .descOfPages section h3 {
	color: #fff;
	font-size: 22px;
}

.homeContainer .descOfPages p {
	margin-left: 20px;

	padding: 10px;
	height: 60px;
	padding-bottom: 15px;
	background-color: #fff;
	border-radius: 7px;
	width: 700px;
}

/* Crypto.jsx */
.cryptoContainer {
}

.cryptoContainer .title {
	align-items: left;
}

.cryptoContainer .headerTable {
	table-layout: auto;
	text-align: left;
	width: 930px;
	margin-left: 50px;
}

.cryptoContainer .headerTable .columns {
	border-collapse: collapse;
	text-align: left;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.cryptoContainer .headerTable .columns .columnData {
	box-sizing: border-box;
	height: 60px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 20px;
	border-bottom: solid;
	border-width: 2px;
}

.cryptoContainer .headerTable .columns .columnData th {
	width: 187px;
}

.cryptoContainer .cryptoTable {
	table-layout: auto;
	text-align: left;
	width: 930px;
	margin-left: 50px;
}

.cryptoContainer .loadedCryptoData {
	border-collapse: collapse;
	text-align: left;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.cryptoContainer .loadedCryptoData .cryptoData {
	box-sizing: border-box;
	height: 60px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	border-bottom: solid;
	border-width: 0.7px;
}

.cryptoContainer .loadedCryptoData .cryptoData td {
	width: 187px;
}

.cryptoContainer .loadedCryptoData .cryptoData .leftSide {
	flex: 50%;
	display: flex;
	justify-content: left;
}

.cryptoContainer .loadedCryptoData .cryptoData .rightSide {
	flex: 50%;
	display: flex;
	justify-content: right;
}

/* StockPage CSS */

.stocksContainer {
}
.stocksContainer .title {
	align-items: left;
}

.stocksContainer .heading {
	margin-left: 50px;
}

.stocksContainer .headerTable {
	table-layout: auto;
	text-align: left;
	width: 930px;
	margin-left: 50px;
	position: static;
}

.stocksContainer .headerTable .columns {
	border-collapse: collapse;
	text-align: left;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.stocksContainer #newsInfo {
	/* width: 200%; */
	border-style: solid;
	border-radius: 20px;
	margin-top: 5px;
	margin-left: 10px;
	padding: 10px;
	position: static;
}

.stocksContainer #sampleTweets {
	align-content: right;
	float: "right";
	display: "inline-block";
	background-color: "#00ACEE";
	border-radius: "5px";
	width: 30%;
	padding: "5px";
	position: static;
}
.stocksContainer .headerTable .columns .columnData {
	box-sizing: border-box;
	height: 60px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 20px;
	border-bottom: solid;
	border-width: 2px;
}

.stocksContainer .headerTable .columns .columnData th {
	width: 187px;
}

.stocksContainer .stockTable {
	table-layout: auto;
	text-align: left;
	width: 930px;
	margin-left: 50px;
	position: static;
}

.stocksContainer .loadedStocksData {
	border-collapse: collapse;
	text-align: left;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.stocksContainer .loadedStocksData .stocksData {
	box-sizing: border-box;
	height: 60px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	border-bottom: solid;
	border-width: 0.7px;
}

.stocksContainer .loadedStocksData .stocksData td {
	width: 187px;
}

.stocksContainer .loadedStocksData .stocksData .leftSide {
	flex: 50%;
	display: flex;
	justify-content: left;
}

.stocksContainer .loadedStockData .stocksData .rightSide {
	flex: 50%;
	display: flex;
	justify-content: right;
}

div#chartButtons {
	display: flex;
	justify-content: space-between;
}

div#chart {
	width: fit-content;
}

.content {
	display: flex;
	flex-direction: column;
}

.content .header {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #7bbdb5c5;
	font-size: 25px;
	box-shadow: 0 50px 70px -20px rgba(238, 238, 238, 0.8);
}

.content .header h1 {
	display: flex;
	justify-content: center;
}

.content .header p {
	display: flex;
	justify-content: center;
}

.content .login .loginContainer {
	padding: 60px;
	margin: auto;
	margin-top: 30px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(#3fb1ca, rgb(178, 225, 255));

	box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.content .login .loginContainer label {
	color: white;
	margin: 14px 0;
	display: block;
	font-size: 22px;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
}

.content .login .loginContainer input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 19px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
}

.content .login .loginContainer .buttonContainer {
	width: 100%;
	padding: 24px 0;
}

.content .login .buttonContainer button {
	border: none;
	outline: none;
	width: 100%;
	padding: 15px 0;
	color: rgb(0, 0, 0);
	margin-left: 10px;
	font-size: 16px;
	letter-spacing: 1px;
	background-color: #f1f1f2;
}

.content .login .buttonContainer p span a {
	color: yellow;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-left: 5px;
	cursor: pointer;
	transition: all 400ms ease-in-out;
}

.content .login .buttonContainer p span a:hover {
	color: red;
}

.content .login .buttonContainer p span a:visited {
	color: yellow;
}

.content .login .buttonContainer #loginStatus {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(207, 1, 1);
}

@media only screen and (max-width: 850px) {
	.Navbar .leftSide .links a {
		font-size: 20px;
	}
}

@media only screen and (max-width: 750px) {
	.Navbar .leftSide .links a {
		font-size: 15px;
	}
}

@media only screen and (max-width: 650px) {
	.Navbar .leftSide button {
		display: flex;
	}

	.Navbar .leftSide .links {
		display: none;
	}

	.Navbar .leftSide #hidden {
		position: absolute;
		height: 100px;
		width: 100%;
		background-color: #4ea699;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.Navbar .leftSide #hidden a {
		margin: 10px;
		font-size: 15px;
	}
}
