.searchContainer {
  margin-right: 2%;
  position: relative;
  display: inline-block;
  width: 40%;
}

#searchButton{
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.25;
  height: 2rem;
  margin: 0;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 40%;
}
    
#searchButton:hover, #searchButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#searchButton:hover {
  transform: translateY(-1px);
}

#searchInput{
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-right: 1%;
  width: 59%;
  height: 2rem;
  padding-left: 0.3rem;
}
#searchButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.searchList {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;

  position: absolute;
  z-index: 1;
  max-height: 45vh;
  overflow-y: auto;
  margin-top: 0.2rem;
}

.searchContent {
  background-color:#f1f1f2;
  display: block;
  text-decoration: none;
  color: black;
  margin: 0px;
  padding: 3%;
  border-bottom: 1px #000000 solid;
}

.searchContent > p{
  padding: 3%;
  margin: 0px;
}

.searchContent > h2{
  padding: 3%;
  margin: 0px;
}

.searchContent:hover {
  background-color:#a9a9a9;
  cursor: pointer;
}

